<%- include('partials/header') %>

<!-- <main id="show-wrapper" style="background-image:url(https://img.yts.mx/assets/images/movies/line_of_duty_2019/large-cover.jpg);"> -->
<main id="show-wrapper" style="background-image:url(<%= img%>);">

	<div class="container-fluid p-md-5" id="download-page" style="position: relative;top:-1px">

		<% if(title){ %>
		<div class="row text-center p-md-3">				
			<div class=" mb-1 mx-auto">
				<h1 class="title mb-5"><%= title %> Full Movie Download</h1> 
				<div class="d-title">Select Movie Quality</div>
			</div>
		</div>
		<div class="row download-wrapper text-center d-flex justify-content-center">
			<% data.forEach((link)=>{ %>
				<div class="col-md-4 mb-3">
					<div class="d-link">
						<div class="d-quality p-0 m-0"><span><%= link['quality'] %></span></div>
						<div class="quality-type">
							<span><%= link['type'] %></span>
						</div>
						<div class="quality-size">
							<p>File Size: <%= link['size'] %></p>
						</div>
						<a href="<%= link['url'] %>" class="btn btn-download btn-lg" title="Download <%= title %> <%= link['quality'] %> Torrent">
							<span><i class="fa fa-download"></i> Download</span>
						</a>
					</div>
				</div>				
			<% }) %>
		</div>
		<% }else{ %>
		<div class="row text-center p-md-3">				
			<div class=" mb-1 mx-auto">
				<h1 class="title text-decoration-none">Sorry! </h1>
				<h2 class="title mb-5 text-decoration-none">Download is not available for this movie. Try again later!</h2> 
			</div>
		</div>
		<% } %>
	</div>

</main>

<% if(recommendations && recommendations.length > 0){ %>
<div class="container-fluid mb-4">
	<section class="m-trending mt-3">
		<div class="header">
			<h3 style="">Recommended Movies</h3>
		</div>
		<div class="cards-wrapper">
			<div class="movie-cards">	

				<% recommendations.forEach((movie)=>{ %>
					<div class="movie-card">
						<a href="/movie/<%= movie['id']%>-<%=movie['title'].split(' ').join('-')%>/">
							<div class="img">
								<img src="https://image.tmdb.org/t/p/original<%= movie['poster_path']%>" class="">	
							</div>			
						</a>					
						<div class="">
							<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == movie[0]})){ %>
								<span class="favourite" title="Remove From Favourite">
									<form method="POST" action="/favourite/<%= movie['id'] %>?_method=DELETE">
										<button style="background:transparent; border:0;outline: none">
											<i class="fa fa-heart active"></i>
										</button>
									</form>
								</span>
							<%}else{%>
								<span class="favourite" title="Add to Favourite">
									<form method="POST" action="/favourite">
										<input type="hidden" name="id" value="<%= movie['id']%>">
										<input type="hidden" name="title" value="<%= movie['title']%>">
										<input type="hidden" name="release" value="<%= movie['release_date']%>">
										<input type="hidden" name="img" value="https://image.tmdb.org/t/p/original<%= movie['poster_path']%>">
										<button style="background:transparent; border:0;outline: none">
											<i class="fa fa-heart"></i>
										</button>
									</form>
								</spsn>
							<% }%>
						</div>
						<div class="card-content">
							<h5 title="<%=movie['title']%>"><% if(movie['title'].length > 20){%><%= movie['title'].slice(0, 17)%>...<%}else{%><%= movie['title']%><%}%></h5>
							<div class="card-release"><%=movie['release_date']%></div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>	
	</section>
</div>
<% } %>

<%- include('partials/footer') %>
