<%- include('partials/header')%>

<main id="favourite-wrapper" class="container-fluid">
	<div class="m-trending">
		<div class="row">
			<div class="col-12 main-title">
				<h1>My Favourites <i class="fa fa-heart" style="color:red"></i></h1>
				<div class="hr"></div>
			</div>
		</div>

		<% if(currentUser){ %>
			<div class="row card-wrapper">
				<% movies.forEach((movie)=>{ %>
					<div class="col-12 col-md-6">	
						<div class="row">
							<div class="col-6">
								<div class="movie-card mx-auto">
									<a href="/movie/<%= movie.imdbId%>-<%=movie.title.split(' ').join('-')%>/">
										<div class="img">
											<img src="<%= movie.imgUrl%>" class="">
										</div>
									</a>
								</div>
							</div>
							<div class="col-6 d-flex justify-content-center align-items-left flex-column">
								<div class="card-content">
									<h3 title="<%=movie.title%>" class="font-weight-bold">Title:  <%= movie.title%></h3>
									<div class="card-release">Released: <%=movie.release%></div>
								</div>
								<div class="card-button pt-1">
									<form action="/favourite/<%= movie.imdbId %>?_method=DELETE" method="POST">
										<button class="btn btn-danger btn-sm">Remove from Favourites</button>
									</form>
									<form action="" method="POST">
										<button class="btn btn-warning btn-sm mt-1">Remove from Watchlist</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		<% }; %>
	</div>
</main>



<%- include('partials/footer')%>