<%-  include('partials/header') %>
	<main>
		<section class="landing">
			<div class="skewed">HELLLO</div>
			<div class="wrapper">
				<div class="motto">
					<h1>The Best Movie <span class="motto-1">Ratings</span> & <br><span class="motto-2">Downloading</span> Website</h1>
				</div>
			</div>
		</section>	
		<div class="container-fluid">
			<section class="m-trending mt-3">
				<div class="header">
					<h3>Trending</h3>
					<div class="hr"></div>
				</div>

				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% trendingMovies.forEach((movie)=>{ %>
							<a href="/movie/<%= movie[0]%>-<%=movie[2].split(' ').join('-')%>">
								<div class="movie-card">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>" class="">	
										<div class="">
											<span class="favourite">
												<i class="fa fa-heart"></i>
											</span>
										</div>
									</div>								
									<div class="card-content">
										<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
										<div class="card-release"><%=movie[3]%></div>
									</div>
								</div>
							</a>
						<% }); %>
					</div>
				</div>			
			</section>
			<section class="m-trending mt-3">
				<div class="header">
					<h3>In Theatres</h3>
					<div class="hr"></div>
				</div>

				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% theatreMovies.forEach((movie)=>{ %>
							<a href="">
								<div class="movie-card">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>" class="">
										<div class="">
											<span class="favourite">
												<i class="fa fa-heart"></i>
											</span>
										</div>	
									</div>
									<div class="card-content">
										<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
										<div class="card-release"><%=movie[3]%></div>
									</div>
								</div>
							</a>
						<% }); %>
					</div>
				</div>			
			</section>
			<section class="m-trending mt-3">
				<div class="header">
					<h3>Upcoming</h3>
					<div class="hr"></div>
				</div>

				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% upcomingMovies.forEach((movie)=>{ %>
							<a href="">
								<div class="movie-card">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>">
										<div class="">
											<span class="favourite">
												<i class="fa fa-heart"></i>
											</span>
										</div>
									</div>
									<div class="card-content">
										<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
										<div class="card-release"><%=movie[3]%></div>
									</div>
								</div>
							</a>
						<% }); %>
					</div>
				</div>			
			</section>
		</div>
	</main>
	
<%-  include('partials/footer') %>
	
	<script type="text/javascript">
		let skewed = document.querySelector(".skewed");
		window.addEventListener('scroll', function(){
			let value = -7 + window.scrollY/60;
			skewed.style.transform = "skewY("+ value +"deg)";
		});
	</script>
