<%-  include('partials/header') %>
	<main style="padding-bottom:15px">
		<section class="landing">
			<div class="skewed">HELLLO</div>
			<div class="wrapper">
				<div class="motto">
					<h1>The Best Movie <span class="motto-1">Ratings</span> & <br><span class="motto-2">Downloading</span> Website</h1>
				</div>
			</div>
		</section>	
		<div class="container-fluid">
			<section class="m-trending mt-3">
				<div class="header">
					<h3 style="">Trending<span class="pull-right"><a href="/movie/trending/">View All</a></span></h3>
				</div>

				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% trendingMovies.forEach((movie)=>{ %>
							<div class="movie-card">
								<a href="/movie/<%= movie[0]%>-<%=movie[2].split(' ').join('-')%>/">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>" class="">	
									</div>			
								</a>					
								<div class="">
									<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == movie[0]})){ %>
										<span class="favourite" title="Remove From Favourite">
											<form method="POST" action="/favourite/<%= movie[0] %>?_method=DELETE">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart active"></i>
												</button>
											</form>
										</span>
									<%}else{%>
										<span class="favourite" title="Add to Favourite">
											<form method="POST" action="/favourite">
												<input type="hidden" name="id" value="<%= movie[0]%>">
												<input type="hidden" name="title" value="<%= movie[2]%>">
												<input type="hidden" name="release" value="<%= movie[3]%>">
												<input type="hidden" name="img" value="https://image.tmdb.org/t/p/original<%= movie[4]%>">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart"></i>
												</button>
											</form>
										</spsn>
									<% }%>
								</div>
								<div class="card-content">
									<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
									<div class="card-release"><%=movie[3]%></div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>			
			</section>
			<section class="m-trending mt-3">
				<div class="header">
					<h3>Popular Downloads<span class="pull-right"><a href="/movie/">View All</a></span></h3>
				</div>
				
				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% popularMovies.forEach((movie)=>{ %>
							<div class="movie-card">
								<a href="/movie/<%= movie[0]%>-<%=movie[2].split(' ').join('-')%>/">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>" class="">	
									</div>			
								</a>					
								<div class="">
									<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == movie[0]})){ %>
										<span class="favourite" title="Remove From Favourite">
											<form method="POST" action="/favourite/<%= movie[0] %>?_method=DELETE">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart active"></i>
												</button>
											</form>
										</span>
									<%}else{%>
										<span class="favourite" title="Add to Favourite">
											<form method="POST" action="/favourite">
												<input type="hidden" name="id" value="<%= movie[0]%>">
												<input type="hidden" name="title" value="<%= movie[2]%>">
												<input type="hidden" name="release" value="<%= movie[3]%>">
												<input type="hidden" name="img" value="https://image.tmdb.org/t/p/original<%= movie[4]%>">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart"></i>
												</button>
											</form>
										</spsn>
									<% }%>
								</div>
								<div class="card-content">
									<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
									<div class="card-release"><%=movie[3]%></div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>			
			</section>
			<section class="m-trending m-celeb mt-3">
				<div class="header">
					<h3>Popular Celebrity<span class="pull-right"><a href="/celebrity/">View All</a></span></h3>
				</div>
				<div class = "celeb_content">
					<div class="card">
					<div class="layer"></div>
					<div class="content">
						<p>Jennifer Shrader Lawrence's films have grossed over $5.7 billion worldwide, and she was the highest-paid actress in the world in 2015 and 2016. She appeared in Time's 100 most influential people in the world list in 2013. She starred in  <a href="/movie/i/tt1877832/">X-Men</a> (2014), <a href="/movie/i/tt2873282/">Red Sparrow</a> (2018).
						</p>
						<div class="image">
							<img src="/res/images/celebs/Jennifer_Lawrence.jpg">
						</div>
						<div class="details">
							<h2>Jennifer Lawrence</h2><br><span>Actress | <a href="/movie/i/tt6565702/">Dark Phoenix</a></span>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="layer"></div>
					<div class="content">
						<p>Thomas Cruise Mapother IV is an American actor and producer. He started his career at age 19 in the film Endless Love, before receiving widespread attention for starring in the action drama Top Gun as Lieutenant Pete "Maverick" Mitchell. He is known for <a hrer="/movie/i/tt0103064/">Terminator</a> (1991) and <a href="/movie/i/tt2345759/">The Mummy</a> (2017).
						</p>
						<div class="image">
							<img src="/res/images/celebs/Tom_Cruise.jpg">
						</div>
						<div class="details">
							<h2>Tom Cruise</h2><br><span>Actor, Producer | <a href="/movie/i/tt4912910/">Mission: Impossible - Fallout</a></span>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="layer"></div>
					<div class="content">
						<p>Elizabeth Chase Olsen was born in Feb 16, 1989. Her breakthrough came in 2011 when she starred in the independent thriller drama Martha Marcy May Marlene, for which she was nominated for the <a>Critics' Choice Movie Award</a> for Best Actress. She known for <a hrer="/movie/i/tt0831387/">Godzilla</a> (2014) and <a href="/movie/i/tt1321511/">Oldboy</a> (2013).
						</p>
						<div class="image">
							<img src="/res/images/celebs/Elizabeth_Olsen.jpg">
						</div>
						<div class="details">
							<h2>Elizabeth Olsen</h2><br><span>Actress | <a href="/movie/i/tt4154756/">Avengers: Infinity War</a></span>
						</div>
					</div>
				</div>
			</div>

						
			</section>
			<section class="m-trending mt-3">
				<div class="header">
					<h3>In Theatres<span class="pull-right"><a href="/movie/in-theatre/">View All</a></span></h3>
				</div>

				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% theatreMovies.forEach((movie)=>{ %>
							<div class="movie-card">
								<a href="/movie/<%= movie[0]%>-<%=movie[2].split(' ').join('-')%>/">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>" class="">
									</div>
								</a>
								<div class="">
									<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == movie[0]})){ %>
										<span class="favourite" title="Remove From Favourite">
											<form method="POST" action="/favourite/<%= movie[0] %>?_method=DELETE">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart active"></i>
												</button>
											</form>
										</span>
									<%}else{%>
										<span class="favourite" title="Add to Favourite">
											<form method="POST" action="/favourite">
												<input type="hidden" name="id" value="<%= movie[0]%>">
												<input type="hidden" name="title" value="<%= movie[2]%>">
												<input type="hidden" name="release" value="<%= movie[3]%>">
												<input type="hidden" name="img" value="https://image.tmdb.org/t/p/original<%= movie[4]%>">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart"></i>
												</button>
											</form>
										</spsn>
									<% }%>
								</div>	
								<div class="card-content">
									<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
									<div class="card-release"><%=movie[3]%></div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>			
			</section>
			<section class="m-trending mt-3">
				<div class="header">
					<h3>Upcoming<span class="pull-right"><a href="/movie/upcoming/">View All</a></span></h3>
				</div>

				<div class="cards-wrapper">
					<div class="movie-cards">	
						<% upcomingMovies.forEach((movie)=>{ %>
							<div class="movie-card">
								<a href="/movie/<%= movie[0]%>-<%=movie[2].split(' ').join('-')%>/">
									<div class="img">
										<img src="https://image.tmdb.org/t/p/original<%= movie[4]%>">
									</div>
								</a>
								<div class="">
									<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == movie[0]})){ %>
										<span class="favourite" title="Remove From Favourite">
											<form method="POST" action="/favourite/<%= movie[0] %>?_method=DELETE">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart active"></i>
												</button>
											</form>
										</span>
									<%}else{%>
										<span class="favourite" title="Add to Favourite">
											<form method="POST" action="/favourite">
												<input type="hidden" name="id" value="<%= movie[0]%>">
												<input type="hidden" name="title" value="<%= movie[2]%>">
												<input type="hidden" name="release" value="<%= movie[3]%>">
												<input type="hidden" name="img" value="https://image.tmdb.org/t/p/original<%= movie[4]%>">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-heart"></i>
												</button>
											</form>
										</spsn>
									<% }%>
								</div>
								<div class="card-content">
									<h5 title="<%=movie[2]%>"><% if(movie[2].length > 20){%><%= movie[2].slice(0, 17)%>...<%}else{%><%= movie[2]%><%}%></h5>
									<div class="card-release"><%=movie[3]%></div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>			
			</section>
		</div>
	</main>
	
<%-  include('partials/footer') %>
	
	<script type="text/javascript">
		let skewed = document.querySelector(".skewed");
		window.addEventListener('scroll', function(){
			let value = -7 + window.scrollY/60;
			skewed.style.transform = "skewY("+ value +"deg)";
		});
	</script>
