<%- include('partials/header') %>

<main id="result-page">
	<div class="container pb-5">
		<div class="row" style="position:relative">
			<div class="px-5 text-center mx-auto">
				<h1 class="text-white text-center m-0">Your Search Results for <span class="text-capitalize"><%= search %></span></h1>
			</div>
			<div class="px-3 d-flex justify-content-between w-100">
				<%if(current !=1){%>
					<button class="btn my-3 btn-nav" onclick="window.location.href='/search/movie/<% if(search){%><%=search%>/<%= Number(current)-1 %>/<% } %>'" style="vertical-align: initial;">Previous</button>
				<%}%>
				<%if(current < pages){%>
						<button style="vertical-align: initial;margin:auto 0 auto auto" onclick="window.location.href='/search/movie/<% if(search){%><%=search%>/<%= Number(current) + 1 %>/<% } %>'" class="btn my-3 float-right btn-nav">Next</button>
				<%}%>
			</div>
		</div>
		<div class="row">
			<% if(!error && data){ %>
				<% data["Search"].forEach((movie)=>{ %>
					<%if(movie['Poster'] != 'N/A'){%>		
						<div class="col-md-6 col-lg-3">
							<div class="card">
								<a href="/movie/i/<%= movie['imdbID']%>/">
									<img class="card-img-top" src="<%if(movie['Poster'] == 'N/A'){%>https://res.cloudinary.com/infinity99/image/upload/v1586284960/movieSearchApp/pikachu_zwpedv.jpg<%}else{%><%= movie['Poster'] %><%}%>" alt="<%= movie['Title'] %>.jpg">
								</a>
								<div class="card-body text-dark">
									<h4 class="title"><%= movie['Title'] %> <span class="year"><h5>(<%= movie['Year'] %>)</h5></span></h4>
									<p>
										<a href="/movie/i/<%= movie['imdbID']%>/" class = "btn btn-primary btn-sm"> More Info</a>
									</p>
								</div>
								<div class="">
									<% if(currentUser && currentUser.watchList.some((id)=>{ return id == movie['imdbID']})){ %>
										<span class="favourite active" title="Remove From WatchList">
											<form method="POST" action="/watchlist/<%= movie['imdbID'] %>?_method=DELETE">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-bookmark active"></i>
												</button>
											</form>
										</span>
									<%}else{%>
										<span class="favourite" title="Add to WatchList">
											<form method="POST" action="/watchlist">
												<input type="hidden" name="id" value="<%= movie['imdbID']%>">
												<input type="hidden" name="title" value="<%= movie['Title'] %>">
												<input type="hidden" name="release" value="<%= movie['Year'] %>">
												<input type="hidden" name="img" value="<%= movie['Poster'] %>">
												<button style="background:transparent; border:0;outline: none">
													<i class="fa fa-bookmark"></i>
												</button>
											</form>
										</span>
									<% } %>
								</div>
							</div>
						</div>
					<%}%>
				<% }) %>
			<% }else{ %>
				<div class="text-white mx-auto">
					<h2 class="mx-auto mt-5 text-center"><%= error %></h2>
					<h4 class="mx-auto text-center">Please try again !</h4>
				</div>
			<% } %>
		</div>


		<!-- Pagination Start -->
		<% if(pages && pages > 0){ %>
			<ul class="pagination pagination-sm">
				<% if(current == 1){ %>
					<li class="page-item disabled"><a class="page-link first">First</a></li>
				<% }else{ %>
					<li class="page-item"><a href="/search/movie/<% if(search){%><%=search%>/1/<% } %>" class="page-link first">First</a></li>
				<% } %>

				<% if(current == 1){ %>				
					<li class="page-item disabled"><a class="page-link">«</a></li>
				<% }else{ %>
					<li class="page-item"><a href="/search/movie/<% if(search){%><%=search%>/<%= Number(current)-1 %>/<% } %>" class="page-link">«</a></li>
				<% } %>

				<% var i = Number(current) > 5 ? Number(current)-4 : 1 %>
				<% if(i !== 1){ %>
					<li class="page-item disabled"><a class="page-link dot">...</a></li>
				<% } %>
				<% for(; i <= Number(current) + 4 && i <= pages; i++){ %>
					<% if(i == current){ %>
						<li class="page-item active"><a href="" class="page-link"><%= i %></a></li>
					<% }else{ %>
						<li class="page-item"><a href="/search/movie/<% if(search){%><%=search%>/<%= i %>/<% } %>" class="page-link"><%= i %></a></li>
					<% } %>
					<% if(i == Number(current)+4 && i < pages){ %>
						<li class="page-item disabled"><a class="page-link dot">...</a></li>
					<% } %>
				<% } %>

				<% if(current == pages){ %>
					<li class="page-item disabled"><a class="page-link">»</a></li>
				<% }else{ %>
					<li class="page-item"><a href="/search/movie/<% if(search){%><%=search%>/<%= Number(current) + 1 %>/<% } %>" class="page-link">»</a></li>
				<% } %>

				<% if(current == pages){ %>
					<li class="page-item disabled"><a class="page-link last">Last</a></li>
				<% }else{ %>
					<li class="page-item"><a href="/search/movie/<% if(search){%><%=search%>/<%= pages %>/<% } %>" class="page-link last">Last</a></li>
				<% } %>				
			</ul>
		<% } %>
		
		
	</div>
</main>
<%- include('partials/footer') %>

 

 
