<%- include('partials/header') %>

<main id="show-wrapper" style="background-image:url(<%= data['Poster'] %>);">

	<div class="container-fluid" id="show" style="position: relative;top:-1px">
		<div class="row p-2 p-md-5">
			<div class="col-md-4 text-center">
				<img class="img-thumbnail mt-md-5 mb-md-0 mb-2" src="<%= data['Poster']%>"></img>
			</div>
			<div class="col-md-8">
				<div class="title mt-md-5 mb-3"><h1 class="d-inline"><%= data['Title'] %></h1><span class="year"><h2 class="d-inline"> (<%= data['Year'] %>)</h2></span></div>
				
				<div class="details text-left w-100">
					<span class="rated px-2"><%= data['Rated'] %></span> | 
					<span class="runtime px-2"><%= data['Runtime'] %></span> |
					<span class="genre px-2"><%= data["Genre"] %></span> | 
					<span class="released px-2"><%= data['Released'] %></span>
				</div>

				<div class="details">
					<span class="language">Language - <%= data['Language'] %></span> | 
					<span class="country">Country - <%= data['Country'] %></span>
				</div>

				<div class="icon-wrapper">
					<ul class="">
						<li class="icon">
							<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == data['imdbID']})){ %>
								<form method="POST" action="/favourite/<%= data['imdbID'] %>?_method=DELETE">
									<button style="background:transparent; border:0;outline: none" title="Remove From Favourite">
										<i class="fa fa-heart active"></i>
									</button>
								</form>
							<%}else{ %>
								<form method="POST" action="/favourite">
									<input type="hidden" name="id" value="<%= data['imdbID'] %>">
									<input type="hidden" name="title" value="<%= data['Title']%>">
									<input type="hidden" name="release" value="<%= data['Released']%>">
									<input type="hidden" name="img" value="<%= data['Poster']%>">
									<button style="background:transparent; border:0;outline: none" title="Add to Favourite">
										<i class="fa fa-heart"></i>
									</button>
								</form>
							<% } %>
						</li>
						<li class="icon">
							<% if(currentUser && currentUser.watchList.some((id)=>{ return id == data['imdbID']})){ %>
								<form method="POST" action="/watchlist/<%= data['imdbID'] %>?_method=DELETE">
									<button style="background:transparent; border:0;outline: none" title="Remove From Watchlist">
										<i class="fa fa-bookmark active"></i>
									</button>
								</form>
							<%} else{ %>
							<form method="POST" action="/watchlist">
								<input type="hidden" name="id" value="<%= data['imdbID'] %>">
								<input type="hidden" name="title" value="<%= data['Title']%>">
								<input type="hidden" name="release" value="<%= data['Released']%>">
								<input type="hidden" name="img" value="<%= data['Poster']%>">
								<button style="background:transparent; border:0;outline: none" title="Add to Watchlist">
									<i class="fa fa-bookmark"></i>
								</button>
							</form>
							<% } %>
						</li>
						<li class="icon">
							<a href="/download/<%= data['imdbID'] %>/" target=""style="position: relative; top:12px;">
								<i class="fa fa-download"></i>
							</a>
						</li>
						<li class="play-trailer-wrapper">
							<a href="/watch/trailer/<%= data['imdbID'] %>/" target="_blank">
								<i class="fa fa-play"></i> Play Trailer
							</a>
						</li>
					</ul>
				</div>

				<div class="plot my-5">	
					<h4>Overview</h4>
					<p><%= data['Plot'] %></p>
				</div>

				<div class="row mt-4">
					<div class="col-md-5 ratings mt-4">
						<div class="table-responsive">
							<table class="table table-sm table-borderless">
								<thead class="text-center" style="font-size: 1.25rem">
									<th colspan="2">Ratings</th>
								</thead>
								<tbody>
									<% if(data["Ratings"]){ %>
									<% data["Ratings"].forEach((rating)=>{ %>
										<% if(rating['Source'] == 'Internet Movie Database'){ %>
											<tr>
												<td class="text-center"><a href="https://www.imdb.com/title/<%= data['imdbID'] %>" target="_blank"><img src="/res/images/imdb.svg" class="img-responsive"></a></td>
												<td><%= rating['Value'] %></td>
											</tr>
										<% }else if(rating['Source'] == 'Rotten Tomatoes'){ %>
											<tr>
												<td class="text-center"><img src="/res/images/tomatoes.jpg" class="img-responsive"></td>
												<td><%= rating['Value'] %></td>
											</tr>
										<% }else if(rating['Source'] == 'Metacritic'){ %>
											<tr>
												<td class="text-center"><img src="/res/images/metacritic.svg" class="img-responsive"></td>
												<td><%= rating['Value'] %></td>
											</tr>
										<% } %>
									<% }); %>
									<% } %>
								</tbody>
							</table>
						</div>	
					</div>

					<div class="col-md-7 stars">
						<div class="table-responsive mt-4">
							<table class="table table-borderless table-sm">
								<tbody>
									<tr>
										<td>Director: </td>
										<td class="text-left"><%= data['Director'] %></td>
									</tr>
									<tr>
										<td>Cast: </td>
										<td class="text-left"><%= data['Actors'] %></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</main>
<% if(recommendations && recommendations.length > 0){ %>
<div class="container-fluid">
	<section class="m-trending mt-3">
		<div class="header">
			<h3 style="">Recommended Movies</h3>
		</div>
		<div class="cards-wrapper">
			<div class="movie-cards">	

				<% recommendations.forEach((movie)=>{ %>
					<div class="movie-card">
						<a href="/movie/<%= movie['id']%>-<%=movie['title'].split(' ').join('-')%>/">
							<div class="img">
								<img src="https://image.tmdb.org/t/p/original<%= movie['poster_path']%>" class="">	
							</div>			
						</a>					
						<div class="">
							<% if(currentUser && currentUser.favouriteMovieList.some((id)=>{ return id == movie[0]})){ %>
								<span class="favourite" title="Remove From Favourite">
									<form method="POST" action="/favourite/<%= movie['id'] %>?_method=DELETE">
										<button style="background:transparent; border:0;outline: none">
											<i class="fa fa-heart active"></i>
										</button>
									</form>
								</span>
							<%}else{%>
								<span class="favourite" title="Add to Favourite">
									<form method="POST" action="/favourite">
										<input type="hidden" name="id" value="<%= movie['id']%>">
										<input type="hidden" name="title" value="<%= movie['title']%>">
										<input type="hidden" name="release" value="<%= movie['release_date']%>">
										<input type="hidden" name="img" value="https://image.tmdb.org/t/p/original<%= movie['poster_path']%>">
										<button style="background:transparent; border:0;outline: none">
											<i class="fa fa-heart"></i>
										</button>
									</form>
								</spsn>
							<% }%>
						</div>
						<div class="card-content">
							<h5 title="<%=movie['title']%>"><% if(movie['title'].length > 20){%><%= movie['title'].slice(0, 17)%>...<%}else{%><%= movie['title']%><%}%></h5>
							<div class="card-release"><%=movie['release_date']%></div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>			
	</section>
</div>
<% } %>


<%- include('partials/footer') %>
